html
    head
        include ../templates/header
        title NK Malecnik
    body
        include ../templates/logoBar
        .wrapper
            include ../templates/navbar
            .contentWrapper
                h1 Users
                form(action='/players/addPlayer', method='post')
                    input(type='text' name='name' id='name' value=`${player.name}`)
                    input(type='text' name='surname' id='surname' value=`${player.surname}`)
                    input(type='date' name='dateOfBirth' id='dateOfBirth' value=`${player.dateOfBirth}`)
                    if player.nationality == 1 
                        //if player is slovenian uncheck the nationality
                        input(type='checkbox' name='nationality' id='nationality' )
                    else
                        input(type='checkbox' name='nationality' id='nationality' checked)
                    input(type='text' name='address' id='address' value=`${player.address}`)
                    input(type='number' name='postNumber' id='postNumber' value=`${player.postNumber}`)
                    input(type='text' name='postName' id='postName' value=`${player.post}`)
                    input(type='text' name='playerPhone' id='playerPhone' value=`${player.playerPhone}`)
                    input(type='text' name='playerEmail' id='playerEmail' value=`${player.playerEmail}`)
                    input(type='text' name='note' id='note' value=`${player.note}`)
                    input(type='number' name='emso' id='emso' value=`${player.emso}`)
                    input(type='number' name='registerNumber' id='registerNumber' value=`${player.registerNumber}`)
                    select(name='team' id='team')
                        each team in teams
                            if team.ID == player.teamID
                                option(value= team.ID selected)= team.name
                            else
                                option(value= team.ID)= team.name
                    select(name='gkTeam' id='gkTeam')
                        option(value=0 selected)= `Ni vratar`
                        each gkTeam in gkTeams
                            if gkTeam.ID == player.goalkeeperTeamID
                                option(value= gkTeam.ID selected)= gkTeam.name
                            else
                                option(value= gkTeam.ID)= gkTeam.name
                    input(type='text' name='dadName' id='parentInfo' value=`${player.dadName}`)
                    input(type='text' name='dadPhone' id='parentInfo' value=`${player.dadPhone}`)
                    input(type='text' name='dadEmail' id='parentInfo' value=`${player.dadEmail}`)
                    input(type='text' name='mumName' id='parentInfo' value=`${player.mumName}`)
                    input(type='text' name='mumPhone' id='parentInfo' value=`${player.mumPhone}`)
                    input(type='text' name='mumEmail' id='parentInfo' value=`${player.mumEmail}`)
                    input(type='submit' value='Dodaj') 
                if error
                    each e in error
                        h4= e