html
    head
        include ../templates/header
        title NK Malecnik
    body
        h1 Igralci
        if players
            each player in players
                p= player.name
                p= player.surname
                p= player.dateOfBirth
                p= player.address + player.postNumber
                p= player.playerEmail
        a(href='/players/new-player') Nov igralec