html
    head
        include ../templates/header
        title NK Malecnik
    body
    include ../templates/logoBar
    .wrapper
        include ../templates/navbar
        .contentWrapper
            h1= `Urejanje treninga ${training.title}`
            form(action='/trainings/addTraining' method='post')
                input(type='text' name='title' value=`${training.title}`)
                select(name='team' id='team')
                    each team in teams
                        if team.coachID == user.id && training.teamID == team.ID
                            option(value=`${team.ID}` selected)= team.name
                        else 
                             option(value=`${team.ID}`)= team.name
                input(type='date' name='date' value=`${training.dateOfTraining}`)
                input(type='time' name='startTime' value=`${training.startTime}`)
                input(type='number' name='duration' min=0 value=`${training.duration}`)
                select(name='location')
                    each location in locations 
                        if location.ID == training.locationID
                            option(value=`${location.ID}` selected)= location.name
                        else 
                            option(value=`${location.ID}` )= location.name
                //- TO DO TEMPLATES
                textarea(name='report' rows=10 columns=30)= `${training.report}`
                textarea(name='intro' rows=10 columns=30)= `${training.intro}`
                textarea(name='main' rows=10 columns=30)= `${training.main}`
                textarea(name='end' rows=10 columns=30)= `${training.end}`
                input(type='file' name='attachments' multiple)
                input(type='submit' value='Dodaj')
            if error
                each err in error 
                    h4= err