div.modal.fade#trainingModal(tabindex='-1' role='dialog' aria-labelledby='trainingModal' aria-hidden='true')
    div.modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title Prisotnost
                button.close(type='button' data-dismiss="modal" aria-label="Close")
                    span(aria-hidden='true') &times;
            .modal-body
                .presenceContainer
                    form(method='post', action=`/presence/setTrainingPresence/${training.ID}`)
                        each p in presence
                            .presence
                                .player
                                    h4= p.name
                                .presence-picker
                                        if p.presence == 0
                                            input(type='radio' id='present' name=`presence${p.playerID}` value='0' checked)
                                        else 
                                            input(type='radio' id='present' name=`presence${p.playerID}` value='0')
                                        label(for='present') Prisoten
                                        if p.presence == 1
                                            input(type='radio' id='excused' name=`presence${p.playerID}` value='1' checked)
                                        else 
                                            input(type='radio' id='excused' name=`presence${p.playerID}` value='1')
                                        label(for='excused') Opravicen
                                        if p.presence == 2
                                            input(type='radio' id='missing' name=`presence${p.playerID}` value='2' checked)
                                        else
                                            input(type='radio' id='missing' name=`presence${p.playerID}` value='2')
                                        label(for='missing') Neopravicen
                                        
                        input.btn.btn-primary(type='submit' value='Shrani') 
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Zapri
                