html
    head
        include ../templates/header
        title NK Malecnik
    body
    include ../templates/logoBar
    .wrapper
        include ../templates/navbar
        .contentWrapper
            h1 Urejanje tekme
            form(action=`/matches/editMatch/${match.matchID}` method='post')
                select(name='type')
                    if match.type == 'Liga'
                        option(value='Liga' selected) Liga
                    else 
                        option(value='Liga') Liga
                    if match.type == 'Pokal'
                        option(value='Pokal' selected) Pokal
                    else 
                        option(value='Pokal') Pokal
                    if match.type == 'Prijateljska'
                        option(value='Prijateljska' selected) Prijateljska
                    else 
                        option(value='Prijateljska') Prijateljska
                    if match.type == 'Turnir'
                        option(value='Turnir' selected) Turnir
                    else 
                        option(value='Turnir') Turnir
                if match.venue == 'Doma'
                    input(type='radio' value='Doma' name='locationType' id='home' checked)
                    label(for='home') Doma
                    input(type='radio' value='V gosteh' name='locationType' id='away')
                    label(for='away') V gosteh
                else 
                    input(type='radio' value='0' name='locationType' id='home' )
                    label(for='home') Doma
                    input(type='radio' value='1' name='locationType' id='away' checked)
                    label(for='away') V gosteh 
                select(name='team')
                    each team in teams
                        if team.coachID == user.id
                            if match.created = team.coachID
                                option(value=`${team.ID}` selected)= team.name
                            else
                                option(value=`${team.ID}`)= team.name
                input(type='number' name='homeGoals' min=0 value= match.homeGoals)
                input(type='text' name='awayTeam' placeholder='Nasprotnik' required value= match.opponent)
                input(type='number' name='awayGoals' min=0 value= match.opponentGoals)
                input(type='date' name='matchDate' required value= match.matchDate)
                input(type='time' name='matchStart' required value= match.matchTime)
                input(type='time' name='assemblyTime' required value= match.assembly)
                select(name='locationHome')
                    each location in locations
                        if location.ID == match.locationID
                            option(value=`${location.ID}` selected)= location.name
                        else
                            option(value=`${location.ID}`)= location.name
                input(type='text' name='locationAway' value= `${match.locationName}`)
                input(type='submit' value='Shrani')
            if error
                each err in error
                    h4= err