html
    head
        include ../templates/header
        title NK Malecnik
    body
    include ../templates/logoBar
    .wrapper
        include ../templates/navbar
        .contentWrapper
            h1 Tekma
            p= `${match.opponent}`
            a(href=`/matches/edit-match/${match.matchID}`) Uredi tekmo
            button#openMatchModal(type='button' class=`btn btn-primary ${firstAdd}` data-toggle='modal' data-target='#matchModal') Uredi prisotnost
            form(action=`/matches/deleteMatch/${match.matchID}` method='post')
                input(type='submit' value='Izbrisi')
            include ../templates/presenceMatch
            if error
                each err in error
                    h4= err